.progress {
  margin-top: 1rem;
}

.progress__slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 2px solid var(--color-primary);
  width: 100%;
  height: 0.5rem;
}

.progress__slider:disabled {
  border-color: var(--color-primary-inactive);
  cursor: not-allowed;
}

.progress__slider:focus {
  outline: none;
}

.progress__slider:focus::-webkit-slider-thumb {
  outline: 2px solid var(--primary-color);
}

.progress__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.875rem;
  height: 0.875rem;
  outline: 2px solid var(--color-primary);
  background: var(--color-primary);
  cursor: pointer;
  position: relative;
}

.progress__slider:disabled::-webkit-slider-thumb {
  outline-color: var(--color-primary-inactive);
  background-color: var(--color-primary-inactive);
  cursor: not-allowed;
}

.progress__slider::-moz-range-thumb {
  width: 0.875rem;
  height: 0.875rem;
  outline: 2px solid var(--color-primary);
  background: var(--color-primary);
  cursor: pointer;
  position: relative;
}

.progress__slider:disabled::-moz-range-thumb {
  outline-color: var(--color-primary-inactive);
  background-color: var(--color-primary-inactive);
  cursor: not-allowed;
}

.progress__time {
  font-family: "Bai Jamjuree";
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
