.volumeContainer {
  position: relative;
}

.volume {
  position: absolute;
  top: 2rem;
  left: -0.99rem;
  z-index: 1;
}

.volume__sliderContainer {
  width: 3.375rem;
  height: 9.375rem;
}

.volume__icon {
  width: 1.875rem;
  height: 1.875rem;
}

.volume__iconBlocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.875rem;
  height: 1.875rem;
  background-color: transparent;
  cursor: pointer;
}

.volume__slider {
  -webkit-appearance: none;
  appearance: none;
  transform: rotate(-90deg);
  position: absolute;
  top: 4.375rem;
  left: -2.5rem;
  background: var(--color-primary-background);
  border: 2px solid var(--color-primary);
  width: 8.5rem;
  height: 0.5rem;
  cursor: pointer;
}

.volume__slider:focus {
  outline: none;
}

.volume__slider:focus::-webkit-slider-thumb {
  outline: 2px solid var(--color-primary);
}

.volume__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.0625rem;
  height: 1.6875rem;
  outline: 2px solid var(--color-primary);
  border-radius: 0.3125rem;
  background: var(--color-primary);
  cursor: pointer;
  position: relative;
}
